<%- include('partials/header', { pageTitle: 'Dashboard' }) -%>
    <h1>Welcome, {{ name }}</h1>
    <h3>Thursday, June 29th</h3>
    <section class="main-container">
        <section class="main-container-header">
            <a href="">
                <h2>Project Title</h2>
            </a>
            <a id="openDialog">Add task</a>
        </section>
        <section class="box-container">
            <section class="box">
                <h3 class="box-title">Box Title</h3>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="main-container">
        <section class="main-container-header">
            <a href="">
                <h2>Project Title</h2>
            </a>
            <a href="">Add task</a>
        </section>
        <section class="box-container">
            <section class="box">
                <h3 class="box-title">Box Title</h3>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
            <section class="box">
                <h2 class="box-title">Box Title</h2>
                <section class="task-box">
                    <a href="" class="task-text">Task</a>
                    <section class="task-controls">
                        <button class="task-left"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="task-right"><i class="fa-solid fa-arrow-right"></i></button>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <a href="#" class="btn">Create New Project</a>



    <button id="updateForm">Update Create Project</button>

    <dialog id="dialog">
        <form action="" method="POST">
            <h2>Add Task</h2>
            <label for="name">Task Name</label>
            <input type="text">
            <label for="description">Description</label>
            <textarea name="description"></textarea>
            <button>Add Task</button>
            <button value="cancel" formmethod="dialog" class="dialog-close">Cancel</button>
        </form>
    </dialog>

    <form action="">
        <h2>Edit Task</h2>
    </form>
    <script>
        const openDialog = document.getElementById('openDialog')
        const dialog = document.getElementById('dialog')

        openDialog.addEventListener('click', () => {
            dialog.showModal()
        })
    </script>
    <%- include('partials/footer') -%>