<%- include('partials/header', { pageTitle: 'Devtivity' }) -%>
    <h1>Devtivity</h1>
    <a href="/auth/login">Sign in</a>
    <a href="/auth/sign-up">Create account</a>
    <%- include('partials/footer') -%>