<%- include('partials/loggedOutHeader', { pageTitle: 'Devtivity' }) -%>
    <h1>Devtivity</h1>
    <a href="/auth/login" class="btn">Sign in</a>
    <a href="/auth/sign-up" class="btn">Create account</a>
    <%- include('partials/footer') -%>