<%- include('partials/header', { pageTitle: 'Create Account' }) -%>
    <div>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
                <p class="error-text">
                    <%= el.msg %>
                </p>
                <% })} %>
    </div>


    <h1>Create Account</h1>
    <form action="/sign-up" method="POST">
        <input type="text" name="fName" placeholder="First Name" required>
        <input type="text" name="lName" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button>Sign up</button>
    </form>
    <%- include('partials/footer') -%>